<?php
$phpht->router->get("/^\\/(persons)\\/(create)\\/([0-9]+)\\/?/",array($persons,"getForm"));
$phpht->router->get("/^\\/(territories)\\/(detail)\\/([0-9]+)\\/?$/",array($territories,"getForm"));
$phpht->router->get("/^\\/(territories)\\/(map)\\/([0-9]+)\\/?/",array($territories,"getMap"));
$phpht->router->get("/^\\/(territories)\\/(mine)\\/?/",array($territories,"getMyTerritories"));
$phpht->router->get("/^\\/(addresses)\\/(read)\\/([0-9]+)\\/?/",array($addresses,"getForm"));
$phpht->router->get("/^\\/(addresses)\\/(create)\\/([0-9]+)\\/?/",array($addresses,"getForm"));
$phpht->router->get("/^\\/(addresses)\\/(update)\\/([0-9]+)\\/?/",array($addresses,"getForm"));
$phpht->router->get("/^\\/(addresses)\\/(upload)\\/([0-9]+)\\/?/",array($addresses,"getForm"));

$phpht->router->post("/^\\/(addresses)\\/(upload)\\/([0-9]+)\\/?/",array($addresses,"postFile"));

$phpht->router->put("/^\\/(territories)\\/([0-9]+)\\/(approve)\\/?$/",array($territories,"putTerritoryRequest"));
$phpht->router->put("/^\\/(territories)\\/([0-9]+)\\/(request)\\/?$/",array($territories,"putTerritoryRequest"));
$phpht->router->put("/^\\/(territories)\\/([0-9]+)\\/(reject)\\/?$/",array($territories,"putTerritoryRequest"));
$phpht->router->put("/^\\/(territories)\\/([0-9]+)\\/(reserve)\\/?$/",array($territories,"putTerritoryRequest"));
$phpht->router->put("/^\\/(cautions)\\/?$/",array($phpht,"putEdit"));
