;
; PHPHT config
;
; Appname : what will appear in the browser tab
; appname = "PHPHT - Unconfigured"
;
; Views: where your dynamic views go
; views = "views"
;
; Assets : where the static assets go
; Under assets should go js/ css/ etc
; assets = "assets"
;
; Home : the main homepage
; This can be a PHP file if you want some dynamics
; home = "home.php"
;
; URLS : locations of resources
; baseurl = "/"
;
; API VERSION : the active API version
; api_version = ''
;
; DB : the base DB containing user data and possibly models
; dbtype = "sqlite"
; dblocation = "db/phpht.db"
;
; MAIL : Configuration for MAIL
; mailApiKey = 
; mailSecretKey =
